<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:viniciusmesquita@poli.ufrj.com.br">viniciusmesquita@poli.ufrj.br</a></li>
					<li><a href="https://github.com/mesquita">Github</a></li>
					<li><a href="https://www.researchgate.net/profile/Vinicius_Mesquita3">Research Gate</a></li>
				</ul>
			</footer>

			<script type="text/javascript"
      			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   			 </script>
		</body>
	</html>
